* {
  margin: 0;
  padding: 0;
  }

header {
  background-color: rgba(3, 100, 255, 0.796);
  height: 300px;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 16px;
  /* width: 100%; */
  margin-top: 10px;
  margin-bottom: 100px;
}

header h1 {
  text-align: center;
  padding: 100px;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Merriweather Sans', sans-serif;
}

.Title {
  text-align: center;
  width: 50%;
  padding-left: 150px;
}

.title1 {
  border-top: solid rgba(3, 100, 255, 0.796) 20px;
  margin-top: 40px;
  padding-top: 15px;
}

.title2 {
  border-top: solid orange 20px;
  margin-top: 40px;
  padding-top: 15px;
}

.title3 {
  border-top: solid red 20px;
  margin-top: 40px;
  padding-top: 15px;
}

@media (min-width: 992px) {

  header {
    background-color: aqua;
    height: 600px;
  }

  h1 {
    font-size: 100px;
  }

  p {
    font-size: 32px;
  }

  header h1 {
    padding: 200px;
  }

  .container {
    display: flex;
  }

  .Title {
    background-color: black;
    color: white;
    height: 800px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .title1 {
    border-top: solid rgba(3, 100, 255, 0.796) 50px;
  }
  
  .title2 {
    border-top: solid orange 50px;
  }
  
  .title3 {
    border-top: solid red 50px;
  }
}